# This is an example configuration file. To make it work, rename the file to 
# ".env" and fill in the parts marked <TODO>

# Configuration of the neuprint cns server
NEUPRINT_SERVER_URL=neuprint-cns.janelia.org
NEUPRINT_DATASET_NAME=cns

# Configuration of the neuprint optic-lobe server
#NEUPRINT_SERVER_URL=neuprint.janelia.org
#NEUPRINT_DATASET_NAME=optic-lobe:v1.1

# Configuration of the neuprint cns server
#NEUPRINT_DATASET_NAME=flywire

# Secret authentification token. You can find yours at 
# https://<NEUPRINT_SERVER_URL>/account, for example at
# https://neuprint-cns.janelia.org/account
NEUPRINT_APPLICATION_CREDENTIALS=<TODO>