absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alphashape==1.3.1
ansicon==1.89.0
argcomplete==3.6.3
asciitree==0.3.3
ast_serialize==0.5.0
asttokens==3.0.1
atomicwrites==1.4.1
attrs==25.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
blessed==1.20.0
bokeh==3.7.3
boto==2.49.0
boto3==1.37.11
botocore==1.37.11
Brotli==1.1.0
cachetools==5.5.2
caveclient==7.6.1
certifi==2026.6.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.7
chex==0.1.89
choreographer==1.3.0
click==8.1.8
click-log==0.4.0
cloud-files==5.0.3
cloud_volume==12.0.0
cloudpickle==3.1.1
cmap==0.4.0
colorama==0.4.6
colormath==3.0.0
comm==0.2.3
compressed_segmentation==2.3.2
connectome_interpreter @ git+https://github.com/YijieYin/connectome_interpreter.git@99dfa4a3d1d48e4d1d393c90018a8ac62dd0b39e
-e git+https://github.com/reiserlab/ol-connectome-analysis.git@c807232e9333b3c193462eb4647dfeb96193f6c7#egg=connectome_interpreter_janelia
contourpy==1.3.3
crc32c==2.7.1
crcmod==1.7
cryptography==43.0.3
cycler==0.12.1
dask==2025.7.0
dask-cuda==25.8.0
debugpy==1.8.12
decorator==5.3.1
deflate==0.7.0
defusedxml==0.7.1
dill==0.3.9
diskcache==5.6.3
distributed==2025.7.0
docopt==0.6.2
dotmotif==0.15.0
DracoPy==1.5.0
dvidtools==0.5.1
editor==1.6.6
et_xmlfile==2.0.0
etils==1.12.0
executing==2.2.1
fafbseg==3.1.0
fasteners==0.19
fastjsonschema==2.21.1
fastremap==1.15.1
filelock==3.29.1
flexcache==0.3
flexparser==0.4
flybrains==0.5.1
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.4.0
fuzzywuzzy==0.18.0
gcs-oauth2-boto-plugin==3.3
gdown==5.2.0
gevent==24.11.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.24.2
google-apitools==0.5.35
google-auth==2.39.0
google-auth-httplib2==0.2.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-reauth==0.1.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
grandiso==2.2.0
greenlet==3.1.1
gsutil==5.35
h5py==3.16.0
httplib2==0.20.4
idna==3.18
igraph==1.0.0
ImageIO==2.37.2
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.4.0
ipykernel==7.1.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jax==0.5.1
jaxlib==0.5.1
jedi==0.20.0
Jinja2==3.1.6
jinxed==1.3.0
jmespath==1.0.1
joblib==1.5.3
json5==0.10.0
jsonpickle==4.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.16
jupytext==1.16.6
kaleido==1.3.0
kiwisolver==1.5.0
kneed==0.8.5
lark-parser==0.12.0
lazy_loader==0.4
librt==0.11.0
llvmlite==0.44.0
locket==1.0.0
logistro==2.0.1
lz4==4.4.4
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
microviewer==1.11.0
mistune==3.1.1
ml_dtypes==0.5.1
molesq==0.4.0
monotonic==1.6
morphops==0.1.13
mplcursors==0.6
mpmath==1.3.0
msgpack==1.1.1
multidict==6.7.0
multiprocess==0.70.17
mypy==2.1.0
mypy_extensions==1.1.0
narwhals==2.22.1
navis @ git+https://github.com/artxz/navis@93de9aff5ca913407f9d85983a9f4e3c6a8c5dd5
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.9.2
ncollpyde==0.19.0
nest-asyncio==1.6.0
networkx==3.6.1
-e git+https://github.com/artxz/large-matrix.git@400a4e530bd44d3f44932e56c156bb237b1fd560#egg=neumann_series
neuprint-python @ git+https://github.com/artxz/neuprint-python.git@51cb61b2699e9d381bccde0d3eeb4c709087f5fd
neuroglancer==2.41.2
ngsidekick @ git+https://github.com/janelia-flyem/ngsidekick.git@70f1aeebc15d34a1755cffb8c6ff87c64236b5a1
numba==0.61.2
numpy==1.26.2
nvidia-ml-py==12.575.51
oauth2client==4.1.3
openpyxl==3.1.5
opt_einsum==3.4.0
optax==0.2.4
orjson==3.10.15
osteoid==0.3.0
packaging==26.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.7
partd==1.4.2
pathos==0.3.3
pathspec==1.1.1
pickleshare==0.7.5
pillow==12.2.0
Pint==0.25.3
pipreqs==0.5.0
platformdirs==4.10.0
plotly==6.8.0
pluggy==1.5.0
polars==1.23.0
pox==0.3.5
ppft==1.7.6.9
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.3
psutil==7.2.2
pure_eval==0.2.3
pyarrow==15.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.20.0
pykdtree==1.4.3
PyMuPDF==1.26.5
pynrrd==1.1.3
pynvml==12.0.0
pyOpenSSL==24.2.1
pyparsing==3.3.2
pypdf==6.13.1
pyperclip==1.9.0
pypng==0.20220715.0
pysimdjson==6.0.2
PySocks==1.7.1
pytest==8.3.5
python-catmaid==2.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jsonschema-objects==0.5.7
pytz==2026.2
pyu2f==0.1.5
pyvis==0.3.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
rapids-dask-dependency==25.8.0
rdata==0.11.2
readchar==4.2.1
referencing==0.36.2
reportlab==4.5.1
requests==2.34.2
requests-futures==1.0.2
retry_decorator==1.1.1
rpds-py==0.22.3
rsa==4.7.2
Rtree==1.3.0
runs==1.2.2
s3transfer==0.11.4
scikit-image==0.25.2
scikit-learn==1.9.0
scipy==1.13.1
seaborn==0.13.2
setuptools==82.0.1
shapely==2.0.6
simplejpeg==1.8.2
simplejson==4.1.1
six==1.17.0
skeletor==1.3.0
smmap==5.0.2
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.3
sympy==1.14.0
tblib==3.1.0
tenacity==9.0.0
tensorstore==0.1.78
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2025.10.16
tinycss2==1.4.0
toolz==1.0.0
torch==2.12.0
tornado==6.4.2
tqdm==4.68.3
traitlets==5.15.1
trimesh==4.12.2
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.10.0
urllib3==2.7.0
wcwidth==0.8.1
webencodings==0.5.1
widgetsnbextension==4.0.15
xarray==2025.1.1
xmod==1.8.1
xyzservices==2025.4.0
yarg==0.1.9
yarl==1.22.0
zict==3.0.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
